{% block content %}
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
    </div>

    <!--logo start-->
    <a href="/" class="logo">Warehouse <span class="lite">Management</span></a>
    <!--logo end-->

{% endblock %}

